<<<<<<< HEAD
$color-principal: rgb(52, 52, 69);
$color-secundario: rgb(33, 9, 71);


h1{
    color: $color-principal;
}

h2{
    color: $color-secundario;
}
=======
h1{
    color: rgb(50, 3, 3)
}
>>>>>>> f0cbfd506351ef2373fbda20524c25084d5faf43
