<<<<<<< HEAD
h1{
    color: rgb(50, 3, 3)
}
=======

$color-principal: rgb(22, 22, 42);
=======
<<<<<<< HEAD
$color-principal: rgb(52, 52, 69);
>>>>>>> 34a441afe6fb631c271aed9e00ccd442ea178445
$color-secundario: rgb(67, 14, 152);


h1{
    color: $color-principal;
}

<<<<<<< HEAD

h3{
    text-align: center;
    color: $color-principal;
}

@mixin button {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    background: #fff;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
} 
  
.card-btn{
    @include button;
}

%fondo{
        background: #efefef;
 }


 .card-btn:hover{
    @include %fondo;
}
=======
h2{
    color: $color-secundario;
}
=======
h1{
    color: rgb(50, 3, 3)
}

>>>>>>> 6b8b7fd627d7741a9290f1898f4e4d90a580f4e2
